#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.logo {
  height: 32px;
  background:#fff;
  margin: 16px;
}
.imagenLogo{
  margin: 5%;
  height: 90%;
}

.tituloEncabezado{
padding-left: 10px;
font-size: 30px;

}
.backEncabezado{
 
  margin-bottom: 15px;
  
  }
.textoLineal {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%
}

.ItemForm{
  margin-bottom: 0px !important;
}
.hiddenFormulario{
  display: none;
}


.ItemMsg{
  background-color:  #d9d9d9; 
}

.imgFactura{
  width: 100%;
  height: auto;
  max-width: 100%;
}